
.get-started-page {
 
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  padding-top: 150px; 
}


.get-started-page h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.get-started-btn {
  padding: 12px 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.get-started-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
.get-started-page-1{
      gap: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}